In [11]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from dod import expt

In [12]:
# load the data
df = expt([10000], [5, 10, 20, 50, 100])

In [13]:
df_static = df[df["static"] == True]
df_non_static = df[df["static"] == False]

In [14]:
temp = df_non_static.groupby(["num_components"]).mean()
temp.head()

                num_points  soa_time  aos_time  static   aos/soa
num_components
5                  10000.0      80.0     156.0     0.0  1.950000
10                 10000.0     160.0     291.0     0.0  1.818750
20                 10000.0     351.0     829.0     0.0  2.361823
50                 10000.0     942.0    2384.0     0.0  2.530786
100                10000.0    1616.0    6179.0     0.0  3.823639

In [15]:
temp = df_static.groupby(["num_components"]).mean()
temp.head()

                num_points  soa_time  aos_time  static   aos/soa
num_components
5                  10000.0      80.0      80.0     1.0  1.000000
10                 10000.0     161.0     210.0     1.0  1.304348
20                 10000.0     319.0     400.0     1.0  1.253918
50                 10000.0     799.0     999.0     1.0  1.250313
100                10000.0    1613.0    1967.0     1.0  1.219467